 <html DOCTYPE HTML>
 <body>
     <%for(var i=0;i<temp.length;i++){%>
     <%=temp[i]%>
     <%}%>
     
     
 <form>
        <div class="col-md-4">
       User Name<input type="text" class="form-control" required name="uname">
        Password<input type="password" class="form-control" required name="pwd">
        <br>
        <button >LOGIN</button>
        </div>
     </form>
    
</body>
</html>